.minicartContainer {
  background: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.minicartTitleWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px 0;
  width: 100%;
}

.productListWrapper img {
  height: 122px;
  margin: 0 auto;
  width: 132px;
}

.shelfProductName {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  width: 100%;
}

.productListPriceList {
  color: #7a7a7a;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-decoration-line: line-through;
  width: 100%;
}

.productListPrice {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  width: 100%;
}

.productListInstallments {
  color: #7a7a7a;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
  line-height: 15px;
  margin-top: 10px;
  min-height: 15px;
  text-align: center;
}

.minicartOverlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1024px) {
  .minicartContainer {
    right: 0;
    width: 20%;
  }
}
